/* 追加するCSS */
.header {
    /* background-color: rgb(201, 45, 45); */
    font-weight: bold;
    font-size: xx-large;
    color: rgb(66, 62, 196);
    text-align: center;
    border-bottom: solid 2px;
    padding: 10px 0;
}

.post-form {
    text-align: center;
}

.post-form-name-input {
    width: 20%;
}

.post-form-message-text {
    width: 20%;
}

.post-form-submit-button {
    border-color: yellow;
    border-radius: 100;
    background-color: yellow;
}

.posts {
    width: 80%;
}

.posts-area {
    display: flex;
    justify-content: center;
}

/* 投稿に関するCSS */
.post {
    display: flex;
    /* text-align: center; */
    border: solid;
    margin: 15px 0;
}

.post-icon {
    width: 120px;
}

.post-image {
    width: 100%;
}

.post-name {
    font-weight: bold;
}

.post-text {
    width: 100%;
}

.post-info {
    position: relative;
    width: 100%;
    /* text-align: center; */
}

.post-action {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/* inputのデフォルトスタイルをリセット */
.post-not-edit-input {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* textareaのデフォルトスタイルをリセット */
.post-not-edit-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
}